# See http://help.github.com/ignore-files/ for more about ignoring files.


/backend/__pycache__
/backend/venv
/backend/export.pkl

# compiled output
/frontend/dist
/frontend/tmp
/frontend/out-tsc
# Only exists if Bazel was run
/frontend/bazel-out

# dependencies
/frontend/node_modules

# profiling files
/frontend/chrome-profiler-events*.json
/frontend/speed-measure-plugin*.json



# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
/frontend/npm-debug.log




# System Files
.DS_Store
Thumbs.db
